@import './base.css';

body {
  margin: 0;
  padding: 0;
  background: var(--color-background);
  transition: background-color 0.3s ease;
}

#app {
  width: 100%;
  min-height: 100vh;
  background: var(--color-background);
  transition: background-color 0.3s ease;
}
